<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="title">Addressbook JSF</ui:define>

            <ui:define name="body">
                <rich:panel header="Addressbook">
                    <h:form>

                        <rich:dataTable var="contact" value="#{addressbookBean.contacts}">
                            <f:facet name="header">Contacts</f:facet>
                            <rich:column>
                                <f:facet name="header">Id</f:facet>
                                <h:outputText value="#{contact.id}"/>
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">Firstname</f:facet>
                                <h:outputText value="#{contact.firstname}"/>
                            </rich:column>
                            <rich:column>
                                <f:facet name="header">Lastname</f:facet>
                                <h:outputText value="#{contact.lastname}"/>
                            </rich:column>
                            <rich:column>
                                <f:facet name="header"></f:facet>
                                <h:commandLink value="Edit" action="#{addressbookBean.loadContact()}">
                                    <f:param name="id" value="#{contact.id}"/>
                                </h:commandLink>
                            </rich:column>
                        </rich:dataTable>
                    </h:form>
                </rich:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>

