<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="title">Contact</ui:define>

            <ui:define name="body">
                <rich:panel header="Contact">
                    <h:form>
                        <h:outputText value="#{contactBean.contact.id}"/><br/>
                        <h:outputText value="#{contactBean.contact.firstname}"/><br/>
                        <h:outputText value="#{contactBean.contact.lastname}"/><br/>
                    </h:form>
                </rich:panel>
                <rich:panel>
                    <rich:dataTable var="p" value="#{contactBean.phones}">
                        <f:facet name="header">Phones</f:facet>
                        <rich:column>
                            <f:facet name="header">Country code</f:facet>
                            <h:outputText value="#{p.countryCode}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">Area code</f:facet>
                            <h:outputText value="#{p.areaCode}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">Number</f:facet>
                            <h:outputText value="#{p.number}"/>
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">Type</f:facet>
                            <h:outputText value="#{p.type}"/>
                        </rich:column>
                    </rich:dataTable>
                </rich:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>

