<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="title">Contact</ui:define>

            <ui:define name="body">
                <h:panelGroup>
                    <h:form>
                        <rich:panel header="Tree">
                            <rich:tree id="tree" var="node" value="#{treeBean4.root}" toggleType="client"
                                       selectionType="ajax" selectionChangeListener="#{treeBean4.selectionChanged}">
                                <rich:treeSelectionChangeListener listener="#{treeBean4}"/>
                                <rich:treeNode>#{node.data.name}</rich:treeNode>
                            </rich:tree>
                        </rich:panel>
                    </h:form>
                    <a4j:outputPanel ajaxRendered="true" layout="block">
                        <rich:panel  header="Current Selection" rendered="#{not empty treeBean4.currentSelection}">
                            <h:outputText value="Id: " />
                            <h:outputText value="#{treeBean4.currentSelection.data.id}" />
                            <br/>
                            <h:outputText value="Name: " />
                            <h:outputText value="#{treeBean4.currentSelection.data.name}" />
                        </rich:panel>
                    </a4j:outputPanel>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

