<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <body>
        <ui:composition template="/templates/template.xhtml">
            <ui:define name="title">Contact</ui:define>

            <ui:define name="body">
                <h:panelGroup>
                    <h:form>
                        <rich:panel header="Tree">
                            <rich:tree switchType="client"
                                       var="item"
                                       selectionChangeListener="#{treeBean3.selectionChanged}">
                                <rich:treeModelAdaptor nodes="#{treeBean3.rootNodes}">
                                    <rich:treeNode>
                                        #{item.name}
                                    </rich:treeNode>
                                    <rich:treeModelAdaptor nodes="#{item.children}">
                                        <rich:treeNode>
                                            #{item.name}
                                        </rich:treeNode>
                                        <rich:treeModelAdaptor nodes="#{item.staff}">
                                            <rich:treeNode>
                                                #{item.name}
                                            </rich:treeNode>
                                            <rich:treeModelAdaptor nodes="#{item.skills}">
                                            <rich:treeNode>
                                                #{item.name}
                                            </rich:treeNode>
                                        </rich:treeModelAdaptor>
                                        </rich:treeModelAdaptor>
                                    </rich:treeModelAdaptor>
                                </rich:treeModelAdaptor>
                            </rich:tree>
                        </rich:panel>
                    </h:form>
                    <a4j:outputPanel ajaxRendered="true" layout="block">
                        <rich:panel  header="Current Org" rendered="#{not empty treeBean3.currentOrg}">
                            <h:outputText value="Id: " />
                            <h:outputText value="#{treeBean3.currentOrg.id}" />
                            <br/>
                            <h:outputText value="Name: " />
                            <h:outputText value="#{treeBean3.currentOrg.name}" />
                        </rich:panel>
                        <rich:panel  header="Current Staff" rendered="#{not empty treeBean3.currentStaff}">
                            <h:outputText value="Name: " />
                            <h:outputText value="#{treeBean3.currentStaff.name}" />
                            <br/>
                            <h:outputText value="Function: " />
                            <h:outputText value="#{treeBean3.currentStaff.function}" />
                        </rich:panel>
                    </a4j:outputPanel>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>

