<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <a4j:commandButton value="Do something" 
                               action="#{waitBean.doIt()}"
                               status="ajaxStatus"/>
        </h:form>

        <a4j:status id="ajaxStatus"
                    name="ajaxStatus"
                    onstart="#{rich:component('waitPanel')}.show('',{top:'40px', left:'80px',height:'100px', width:'200px'})"
                    onstop="#{rich:component('waitPanel')}.hide()" />

        <rich:popupPanel id="waitPanel" style="text-align:center" modal="true">
            <h:outputText value="Please wait..."
                          style="font-weight:bold;font-size:large" />
        </rich:popupPanel>
    </h:body>
</html>

