
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>  

    </h:head>  

    <h:body>  

        <h:form>  

            <h:panelGrid columns="3" cellpadding="5">  
                <p:dataTable var="c" value="#{contactController.findAll()}">
                    <p:column headerText="Id">  
                        <h:outputText value="#{c.id}" />  
                    </p:column>  
                    <p:column headerText="Firstname">  
                        <h:outputText value="#{c.firstname}" />  
                    </p:column>  
                    <p:column headerText="Surname">  
                        <h:outputText value="#{c.lastname}" />  
                    </p:column>  
                </p:dataTable>

            </h:panelGrid>  

        </h:form>  

    </h:body>  
</html>     