
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">  

    <h:head>  

    </h:head>  

    <h:body>  
 
        <h:form>  

            <h:panelGrid columns="4" cellpadding="5">  
                <h:outputLabel for="name" value="Name:" style="font-weight:bold"/>  

                <p:inputText id="name" value="#{contact.firstname}" />  

                <p:commandButton value="Submit" update="display"/>  

                <h:outputText value="#{contact.firstname}" id="display" />  
            </h:panelGrid>  

        </h:form>  

    </h:body>  
</html>     