<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j">

<h:head>
    <title>addressbook-rf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</h:head>

<h:body>
    <ui:insert name="body">Default content</ui:insert>
</h:body>
</html>
